section{
	text-align: center;
	background-color: 
}

#fadein{
	opacity: 0;
    -webkit-transition: opacity 2s ;
    -moz-transition: opacity 2s ;
    -o-transition: opacity 2s ;
    -ms-transition: opacity 2s ;
    transition: opacity 2s ;
}

div{
	text-align: center;
	clear: both;
}

.right{
	
    float: right;
	
	
}